   <link rel="stylesheet" href="/css/home.css">
   <h1>It is the <%=title%></h1>
   <section>
      <%if (locals.user){%>
      <h4>Posts</h4>
      <form action="/post/create-post" method="POST">
         <textarea name="content" rows="5" cols="30" required>
         </textarea>
         <input type="submit" value="post">
      </form>
      <div id="post-container">
         <ul>
            <%for(post of posts){%>
              <%-include('_post')-%>
            <%}%>
         </ul>
      </div>
      <%}%>
   </section>
   <section>
      <h1>Friends</h1>
      <%if (locals.user){%>
      <ul>
         <%for(user of all_users){%>
            <p>
               <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
            </p>
         <%}%>
      </ul>
      <%}%>
   </section>