    <form action="/users/create-user" method="post">
    <input type="text" name="name" placeholder="Enter your username">
    <input type="email" name="email" placeholder="Enter your email">
   <input type="password" name="password" placeholder="Enter your Password">
   <input type="submit" value="Create account">
    </form>